* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #f0f0ff;
  background-color: #141b2d;
  touch-action: pan-x pan-y;
}

a {
  text-decoration: none;
}
